@model IEnumerable<DocumentFlow.Models.User>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-block">
    <div class="main-blcok-wrapper">
        <div class="header">
            <h1>Пользователи</h1>
        </div>
        <div class="middle">
            <br>
            <div class="middle">
                <table style="margin-bottom: 20px; width: 100%;">
                    @if (Model != null && Model.Count() != 0)
                    {
                        <thead>
                        <tr>
                            <th>Логин</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Отчество</th>
                            <th>Должность</th>
                            <th>Email</th>
                            <th>Роль</th>
                            <th>Операция</th>
                        </tr>
                        </thead>
                        foreach (var item in Model)
                        {
                            <tbody>
                            <tr>
                                <td>@item.UserName</td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.Patronymic</td>
                                <td>@item.Position.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Role.Name</td>
                                <td class="action-buttons">
                                    @if (HttpContext.Current.Request.Cookies["Email"].Value != item.Email)
                                    {
                                        @Html.ActionLink(" ", "EditUser", new { id = item.Id }, new { @class = "edit-button" })
                                        @Html.ActionLink(" ", "DeleteUser", new { id = item.Id }, new { @class = "remove-button" })
                                    }
                                </td>
                            </tr>
                            </tbody>
                        }
                    }
                    else
                    {
                        <tr>список пуст</tr>
                    }
                </table>
            </div>
            <div class="footer">
                
            </div>
        </div>
    </div>
</div>