@model DocumentFlow.Models.DocumentTemplate

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>

<form method="POST" id="fill-form">
    <span style="display: inline-block; font-size: 20px; font-weight: bold; line-height: 1.1em;">Название документа</span>
    <input class="form-control required" style="display: inline-block; width: auto;" type="text" name="DocName"/>
    @Html.HiddenFor(model => model.Id, new {@Name = "Id"})
    <hr/>
    <h2>@Model.Name</h2>
    <div class="fr-view">
        @Html.Raw(Model.Text)
    </div>
    <hr/>
    <div class="form-group">
        <h2>Путь документа</h2>
        <div class="form-inline">
            @Html.Raw(Model.PositionsPath)
        </div>
    </div>
    <hr/>
    <a id="send" class="btn btn-success" style="float: right !important;" href="#">Отправить</a>
</form>

<script>
    $('#send').click(function() {
        $("#fill-form").valid();
        if ($("#fill-form").valid()) {
            $('#send').removeAttr('href');
            $('#send').attr('href', '@Url.Action("SendDocument", "Main")' + '?json=' + JSON.stringify($('form').serializeArray()));
        }
    });
</script>