@model DocumentFlow.Models.EditPasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Изменение пароля</h2>

<div class="main-block">
    <div class="reg-form">
        @using (Html.BeginForm("EditPassword", "Manage", FormMethod.Post, new {@id = "pass-change"}))
        {
            @Html.AntiForgeryToken()
            {
                @Html.ValidationSummary(false)
                {
                    <span>Старый пароль:</span>
                    @Html.EditorFor(model => model.OldPassword)
                    <br>
                    <span>Новый пароль:</span>
                    @Html.EditorFor(model => model.NewPassword)
                    <br>
                    <span>Подтверждение пароля:</span>
                    @Html.EditorFor(model => model.PasswordConfirm)
                }
            }
            <input type="submit" class="button" value="Изменить"/>
        }
    </div>
</div>