@model DocumentFlow.Models.EditPasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="reg-form">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        {
            @Html.ValidationSummary(false)
            {
                <span>Старый Пароль:</span>
                @Html.EditorFor(x => x.OldPassword)
                <br/>
                <span>Новый пароль:</span>
                @Html.EditorFor(x => x.NewPassword)
                <br />
                <span>Подтвердить пароль:</span>
                @Html.EditorFor(x => x.PasswordConfirm)
                <br />
                <input type="submit" class="button" value="Изменить" />
            }
        }
    }
</div>